<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập Internet để nạp phim từ Firebase và chat AI -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineGo">

        <!-- 1. MÀN HÌNH CHÀO (SPLASH) - CHẠY ĐẦU TIÊN KHI MỞ APP -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"> <!-- Ẩn thanh tiêu đề cho đẹp -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. CÁC MÀN HÌNH KHÁC -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".SearchActivity"
            android:exported="false" />

        <activity
            android:name=".MoviesActivity"
            android:exported="false" />

        <activity
            android:name=".MovieDetailActivity"
            android:exported="false" />

        <activity
            android:name=".BookingActivity"
            android:exported="false" />

        <activity
            android:name=".SeatActivity"
            android:exported="false" />

        <activity
            android:name=".SnacksActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />

        <activity
            android:name=".TicketActivity"
            android:exported="false" />

        <activity
            android:name=".AiChatActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".MyTicketsActivity"
            android:exported="false" />

    </application>

</manifest>